<div class="container">
 
  <div class="cycleImage">
    <span class="textImage"><h1>hiiiii</h1></span>
 <img style="width: 100%;  filter: blur(8px);
 -webkit-filter: blur(6px);"  src="../.././assets/cycleImage.jpg">
    <!-- <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.</p> -->
    <!-- <button id="myBtn" clic="myFunction()">Pause</button> -->
  </div>
  <div class="video">

    
    <video style="width: 100%;" autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true" id="myVideo">
        <source src="../.././assets/cycleVideo.mp4" type="video/mp4">
        https://www.youtube.com/watch?v=9A2k301SOiQ
        Your browser does not support HTML5 video.
      </video>
      </div>
  <div class="content">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.</p>
    <!-- <button id="myBtn" clic="myFunction()">Pause</button> -->
  </div>

  </div>